* {
    box-sizing: border-box;
}

.services {
    border: 1px solid #ccc;
}

.services img {
    width: 300px;
    height: 200px;
}

.des {
    padding: 15px;
    text-align: left;
}

.respnsive {
    padding: 0 6px;
    /* float: left; */
    width: 50%;
}

.task {
    background: #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 700px) {
    .respnsive {
        width: 50%;
        margin: 6px 0;
    }
}

@media screen and (max-width: 500px) {
    .respnsive {
        width: 100%;
    }
}